mixin reviewCreate(review)
    .reviews__card
      .reviews__avatar
      if user
        img.reviews__avatar-img(src=`/img/users/${user.photo}`, alt=`${user.name}`)
        h6.reviews__user= `${user.name}`
        form.form.form--login
          form__group
          input#number.form__input(type='text', placeholder='From 1 to 5')
          input#text.form__input(type='text', placeholder='write your review',maxlength='1')
